.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color:
        linear-gradient(to bottom right, #051937, #004d40, #2b0a3d);
}

/* Sidebar */
.sidebar {
    -fx-background-color: rgba(0,255,200,0.06);
    -fx-border-color: rgba(0,255,200,0.4);
    -fx-border-width: 0 1 0 0;
}

/* Logo */
.logo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #00f5a0;
}

/* Cards */
.download-card {
    -fx-background-color: rgba(255,255,255,0.06);
    -fx-border-color: rgba(0,255,200,0.5);
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0,255,200,0.5), 30, 0.4, 0, 0);
}

.download-card:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}

/* TEXT FIX */
.file-name {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.status-label {
    -fx-text-fill: #00f5a0;
}

.speed-label {
    -fx-text-fill: #e0f7fa;
}

/* Progress */
.modern-progress {
    -fx-accent: linear-gradient(to right, #00f5a0, #00d9f5, #8e2de2);
}

/* Buttons */
.primary-button {
    -fx-background-color:
        linear-gradient(to right, #00f5a0, #8e2de2);
    -fx-text-fill: white;
}

.secondary-button {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-text-fill: white;
}

.danger-button {
    -fx-background-color: #ff006e;
    -fx-text-fill: white;
}

/* Input */
.url-input {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-text-fill: #e0f7fa;
}
