.root {
    -fx-font-family: "Consolas";
    -fx-background-color: linear-gradient(to bottom right, #000000, #071a12);
}

/* Sidebar */
.sidebar {
    -fx-background-color: #050505;
    -fx-border-color: #00ff9c;
    -fx-border-width: 0 1 0 0;
}

/* Logo */
.logo {
    -fx-text-fill: #00ff9c;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

/* Nav */
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #00ff9c;
}

.nav-button:hover {
    -fx-background-color: rgba(0,255,156,0.15);
}

/* Title */
.title {
    -fx-text-fill: #00ff9c;
    -fx-font-size: 24px;
}

/* Cards */
.download-card {
    -fx-background-color: #0c0c0c;
    -fx-border-color: #00ff9c;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,255,156,0.5), 20, 0.3, 0, 0);
}

.download-card:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

/* Progress */
.modern-progress {
    -fx-accent: #00ff9c;
}

/* Bottom */
.url-input {
    -fx-background-color: #111;
    -fx-text-fill: #00ff9c;
}

.primary-button {
    -fx-background-color: #00ff9c;
    -fx-text-fill: black;
}
