.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #252526;
}

.logo {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #444;
}

.stat-card {
    -fx-background-color: #2d2d2d;
    -fx-background-radius: 10;
}

.stat-title {
    -fx-text-fill: #aaa;
}

.stat-value {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.table-view {
    -fx-background-color: #2d2d2d;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(to right, purple, gold);
}
